.included-section {
  max-width: 1000px;
  margin: 50px auto;
  padding: 0 20px;
  font-family: "Segoe UI", sans-serif;
}

.included-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.included-header h2 {
  font-size: 1.8rem;
  font-weight: 500;
  position: relative;
  display: inline-block;
}

.included-header h2::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: var(--highlight-color);
  margin-top: 6px;
}

.not-included-header h2::after {
  background-color: var(--highlight-color);
}

.show-all {
  font-size: 0.95rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #333;
  transition: color 0.3s ease;
}

.show-all:hover {
  color: var(--highlight-color);
}

.included-item {
  border-top: 1px solid #ddd;
  padding: 10px 0;
}

.included-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px 0;
  transition: background-color 0.2s ease;
}



.icon-label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1rem;
  font-weight: 500;
}

.dropdown-icon {
  font-size: 1.8rem;
  transition: transform 0.3s ease;
}

.dropdown-icon.rotate {
  transform: rotate(180deg);
}

.included-details {
  padding-left: 30px;
  margin-top: 10px;
}

.included-details li {
  list-style: disc;
  font-size: 0.95rem;
  color: #444;
  margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
  .included-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .show-all {
    margin-top: 10px;
  }

  .icon-label {
    font-size: 1rem;
  }
}
